<%= form_with(model: restaurant, local: true) do |form| %>
  <%= render 'layouts/error_messages', resource: restaurant %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :restaurant_name, class: 'form-control', placeholder: "Panera Bread" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :restaurant_address, class: 'form-control', placeholder: "201 Brookline Avenue, Boston, MA 02215" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :restaurant_phone, class: 'form-control', placeholder: "(617) 247-0174" %>
  </div>

  <div class="form-group">
    <%= form.label :website %>
    <%= form.text_field :website, id: :restaurant_website, class: 'form-control', placeholder: "http://www.panerabread.com/" %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :restaurant_image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
