<div class="row">
  <div class="col-sm-3">
    <%= image_tag(@restaurant.image_url) if @restaurant.image.file.present? %>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <div class="star-rating" data-score="<%= @restaurant.avg_rating %>"></div>
    <p><%= "#{@restaurant.reviews.count} reviews"  %></p>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, @restaurant.website %>
    </p>

    <%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
  </div>

  <div class="col-sm-9">
    <% if @restaurant.reviews.present? %>
      <table class="table">
        <thead>
          <tr>
            <th class="col-md-3"></th>
            <th class="col-md-9"></th>
          </tr>
        </thead>
        <tbody>
          <% @restaurant.reviews.order(created_at: :desc).each do |review| %>
            <tr>
              <td>
                <h4><%= review.user.public_name %></h4>
                <p><%= review.created_at.strftime("%-m/%-d/%y") %></p>
              </td>

              <td>
                <div class="star-rating" data-score="<%= review.rating %>"></div>
                <p><%= simple_format(review.comment) %></p>

                <% if user_signed_in? %>
                  <%= link_to "Edit", edit_restaurant_review_path(@restaurant, review) if policy(review).edit? %>
                  <%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete if policy(review).destroy? %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> |
<%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>

<script>
    $('.star-rating').raty({
        readOnly: true,
        path: "/jquery.raty/",
        score: function() {
            return $(this).attr("data-score");
        }
    });
</script>