<div class="row">
  <div class="col-sm-3">
    <%= image_tag(@restaurant.image_url) if @restaurant.image.file.present? %>

    <h2>
      <%= @restaurant.name %>
    </h2>

    <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= @restaurant.phone %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= link_to @restaurant.website, @restaurant.website %>
    </p>

    <%= link_to 'Write a Review', new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
  </div>

  <div class="col-sm-9">
    <% if @restaurant.reviews.present? %>
      <% @restaurant.reviews.each do |review| %>
        <div class="start-rating" data-score="<%= review.rating %>"></div>
        <p><%= review.comment %></p>
      <% end %>
    <% else %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: 'btn btn-link' %> |
<%= link_to 'Back', restaurants_path, class: 'btn btn-link' %>

<script>
    $('.start-rating').raty({
        readOnly: true,
        path: "/assets/jquery.raty/",
        score: function() {
            return $(this).attr("data-score");
        }
    });
</script>